<h1>ピス卒</h1>

<p>ピス卒は、写真のポーズに迷ったときに提案や共有ができるアプリケーションです。このアプリを使えば、もう写真を撮る時に思わずピースをすることはなくなります。</p>
<img src="/assets/top.jpg" class="hoge">
<p>アプリの特徴：</p>
<ul>
  <li>ポーズ提案: 迷ったときにポーズのアイディアを提案してくれます。</li>
  <li>共有機能: お気に入りのポーズを友達と共有できます。</li>
  <li>写真撮影の新しいスタイルを発見: 普段とは違ったポーズを試してみましょう。</li>
</ul>


<p id="text" class="text mt-5">ピス卒を使って、あなたも今日から写真のポーズ職人になりましょう！</p>