<h1>ピス卒</h1>

<p>写真を見返すとピースばっかりしてるってことあるよね?ピス卒は、写真を撮るときにどんなポーズをしたらいいかわからないときに、アイデアを教えてくれる楽しいアプリだよ！このアプリがあれば、もうピースばっかりの写真にはならないよ！</p>
<p>アプリの特徴：</p>
<ul>
  <li>写真撮影の新しいスタイルを発見: いつもと違うポーズに挑戦してみよう！</li>
  <li>ポーズ提案: 好きなポーズを投稿してみんなに教えられるよ。投稿するときに顔を隠してくれるから恥ずかしくないよ。</li>
</ul>
<div id="poses" class="row">
<% @poses.each do |pose| %>
<%= render partial: 'poses/pose', locals: { pose: pose } %>
<% end %>
</div>
 <div  id="selected" class= "selected">
  <%= link_to t('links.index_poses'), poses_path %>
</div>
<div>
<p id="text" class="text mt-5">ピス卒を使って、今日から写真のポーズ職人になろう！</p>
</div>
<div  id="register" class= "register">
<%= link_to t('links.to_register_page'), new_user_path %>
</div>