<p style="color: green"><%= notice %></p>
<%= render @user %>
<div class="container pt-3">
  <div id="poses" class="row">
    <% @poses.each do |pose| %>
    <%= render partial: 'poses/pose', locals: { pose: pose } %>
    <% end %>
    <%= paginate @poses, theme: 'bootstrap-5' %>
  </div>
</div>

