header,footer {background-color: #e47dc1;
               color:  rgb(27, 25, 146);
}
.footer-001 {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 25px 10px 10px;
}

.footer-001__logo {
  width: 130px;
  height: 30px;
}

.footer-001__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1.5em;
  list-style-type: none;
  margin: 0 0 .5em;
  padding: .5em;
}

.footer-001__link {
  color: #fff;
  font-weight: 200;
  text-decoration: none;
}

.footer-001__copyright {
  margin: 0;
  color: #ffffffb3;
  font-weight: 200;
  font-size: .8em;
}
.container {
  text-align: left;
  margin-left: 0;
  margin-right: 0;
}
body {
    background-color: #f7eef6;
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f227eb;
  }

  li {            
    list-style: none;            
 }

.select {
       color: rgb(27, 25, 146);   
}
.text {
      font-size: 30px;

}

#text {
     color: rgb(27, 25, 146);  
}

.nav-item {
    color: rgb(13, 40, 107);

}


.card {
  background: linear-gradient(#d6a1ff ,#5595f7);

}

.card-title{
  color:#f7eef6;
  white-space: nowrap;
}


.time{
  color:#54E7F7; 
  text-decoration: none;

}
a {
  color:#54E7F7; 
  text-decoration: none; 
  font-size: 15px;
  white-space: normal;
  white-space: nowrap; /* テキストを折返さない */
  overflow: hidden; /* はみ出した部分を隠す */
  text-overflow: ellipsis; 

}

a:hover {
  color:#E7F754; 
}



.selected a {
  color: #f227eb; 
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected a:hover {
  color: #00ff00; 
}

.register a {

color:  rgb(27, 25, 146);
}

.ranking-item {
  padding: 10px;
  margin: 5px 0;
}

.gold {
  background-color: rgb(237, 234, 62);
  font-family: 'Amatic SC', cursive;
  font-size: 50px;

}

.silver {
  background-color: silver;
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
}

.bronze {
  background-color: #d08a45; /* 銅色 */
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
}


.rankinga{
  font-size: 50px;
  font-family: 'Amatic SC', cursive;
}

.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

//トップページ
.wrapper {
  max-width: 1080px;
  margin: 0 auto;
  padding: 12px 20px;
}
header {
  display: flex;
  align-items: center;
  
 
}
.header-logo{
  display: flex;
  justify-content: space-between;
}
.header-menu{
  display: flex;
  gap: 24px;
  position: absolute;
  right:  100px;
}

.menu {
  display: flex;
  margin-right: 24px;
}
.list{
  margin-right: 24px;
  flex-direction: row-reverse;
}
.nav-item{
  flex-direction: row-reverse;
}

@media (max-width: 970px) {
  .menu {
    display: none; 
  }
 
}

.navbar-brand {
  display: block; 
  padding: 10px 5px; 
}
body {
  background:  #f7eef6;
  margin: 0;
  font-family: "DotGothic16", sans-serif;
  width: 100vw;
  height: 100vh;
  animation: bugfix infinite 1s;
  -webkit-animation: bugfix infinite 1s;
}

@keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}
@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}
#overlay-button {
  display: none;
  position: absolute;
  right: 2em;
  top: 3em;
  padding: 26px 11px;
  z-index: 5;
  cursor: pointer;
  user-select: none;
}
#overlay-button span {
  height: 4px;
  width: 35px;
  border-radius: 2px;
  background-color: white;
  position: relative;
  display: block;
  transition: all .2s ease-in-out;
}
#overlay-button span:before {
  top: -10px;
  visibility: visible;
}
#overlay-button span:after {
  top: 10px;
}
#overlay-button span:before, #overlay-button span:after {
  height: 4px;
  width: 35px;
  border-radius: 2px;
  background-color: rgb(183, 72, 146);
  position: absolute;
  content: "";
  transition: all .2s ease-in-out;
}
#overlay-button:hover span, #overlay-button:hover span:before, #overlay-button:hover span:after {
  background: #50e785;
}

input[type=checkbox] {
  display: none; 
  
}

input[type=checkbox]:checked ~ #overlay {
  visibility: visible; 
}

input[type=checkbox]:checked ~ #overlay-button:hover span, input[type=checkbox]:checked ~ #overlay-button span {
  background: transparent;
  
  
}
input[type=checkbox]:checked ~ #overlay-button span:before {
  transform: rotate(45deg) translate(7px, 7px);

}
input[type=checkbox]:checked ~ #overlay-button span:after {
  transform: rotate(-45deg) translate(7px, -7px);


}

#overlay {
  height: 100vh;
  width: 100vw;
  //background: #1cd49a;
  background: hsl(304, 92%, 69%);
  z-index: 2;
  visibility: hidden;
  position: fixed;
  z-index: 5;
}
#overlay ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  padding-left: 0;
  list-style-type: none;
}
#overlay ul li {
  padding: 1em;
}
#overlay ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
}
#overlay ul li a:hover {
  color: #000!important;
}





.logo-container {
  flex: 1;
}

.logo {
  height: 40px;
}

#overlay-button {
  cursor: pointer;
}



@media screen and (max-width: 969px) {
 
  #overlay-button  {
    display: block;
  }
  
}
.post-tags{
  margin-top: 0.5em;
}

 .tag{
  word-break: break-all;

  background-color: #babdd5; 
  border-radius: 15px; 
  font-size: 0.775em; 
   color: #333; 

  z-index:  4;

  white-space: normal;
 }

.created{
  white-space: nowrap; 
  font-size: 0.775em;
  position: absolute; 
  bottom: 0; 
  right: 0; 
}



