.hoge {
    background-image: url("top.jpg");
    height: calc(100vh - 134px);
    position: relative;
    background-position: center;
    border: 2px solid #e0dd40; /* 黒い枠線 */
    border-radius: 20px; /* 角の丸み */
    display: block;
    margin-left: auto;
    margin-right: auto;
  
    .hoge-inner-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      text-align: center;
      font-size: 3rem;
      color: white;
  
      @media screen and (max-width: 767px) {
        font-size: 2.0rem;
      }
    }
  }
  // .hoge {
  //   display: block;
  //   margin: 0 auto;
  //   max-width: 80%;
  //   height: auto;
  //   border: 2px solid #000; /* 黒い枠線 */
  //   border-radius: 10px; /* 角の丸み */
  
  // }

