<div class="col-sm-12 col-lg-4 mb-3">
  <div id="pose-id-<%= pose.id %>">
    <div class="card">
      <%= image_tag pose.image_url, class: "card-img-top", width: "300", height: "200" %>
      <div class="card-body">
        <div class="d-flex">
          <h4 class="card-title"><%=  pose.name %></h4>          
        </div>
      </div>
    </div>
  </div>
</div>
