
<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= t('pose.preview.title') %></h1>
      <p style="color: green"><%= notice %></p>
      <article class="card">
        <div class="card-body">
          <div class="row">
              <div class="col-md-3">
        
            </div>
            <div class ="posebody">
            <div class="col-md-9">
              <h3 style="display: inline;">ハート</h3>
              <ul class="list-inline">
                <li class="list-inline-item">山田</li>
                <li class="list-inline-item">2024/09/14</li>
              </ul>
            </div>
            </div>
          </div>
        </div>
      </article>
      <div class="confirm">

      <div class="confirm-buttub">
        <%= link_to t('links.back_to_poses'), poses_path, class: "btn btn-primary mt-3" %>
      </div>
      <div class="confirm-buttub">
        <%= link_to t('登録'),  new_pose_path, class: "btn btn-primary mt-3" %>
      </div>
      </div>
    </div>
  </div>
</div>