<p style="color: green"><%= notice %></p>

<h1>Poses</h1>
<div id="poses">
  <% @poses.each do |pose| %>
    <%= render pose %>
    <p>
      <%= link_to "Show this pose", pose %>
    </p>
  <% end %>
</div>

<%= link_to "New pose", new_pose_path %>
