<% content_for(:pose_image, image_url("result.jpg")) %>
<% content_for(:title, t('pose.show.title')) %>
<p style="color: green"><%= notice %></p>
<%= render @pose %>
<div>
  <%= link_to t('links.back_to_poses'), poses_path %>
</div>


